<%= form_with model: @user, url: users_path, method: :post do |f| %>
  <div class='form-group row'>
    <%= f.label :username, class: 'col-form-label col-md-3' %>

    <div class="col-md-9">
      <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, class: 'col-form-label col-md-3' %>

    <div class="col-md-9">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row d-flex align-items-center">
    <%= f.label :password_confirmation, class: 'col-form-label col-md-3' %>
    <div class="col-md-9">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-9 ml-auto">
      <small class="text-small text-muted">
        Please, <%= link_to 'Login', login_path %> if you already have the account.
      </small>

      <%= f.submit 'Create new account', class: 'btn btn-primary btn-block my-2' %>
    </div>
  </div>
<% end %>